@charset "utf-8";
body{
	min-width: 1200px;
}
button,input,select{
	border: 0;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.header{
	position: relative;
	z-index: 999;
}
.search-bar-container{
	float: right;
}
.search-bar{
	position: relative;
	width:400px;
	height: 48px;
	padding-right: 160px;
	padding-left: 130px;
	background: #FFFFFF;
	border: 1px solid #263740;
	border-radius: 3px;
}
.search-key {
	height: 20px;
	margin-top: 10px;
}
.search-key li{
	float: left;
	font-size: 13px;
	line-height: 20px;
	margin-right: 10px;
}
.search-key li a{
	color: #999999;
}
.search-button{
	background: #263740;
	width: 95px;
	height: 48px;
	line-height: 48px;
	color: #FFFFFF;
	position: absolute;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	right: 0;
	top: 0;
	font-size: 18px;
	cursor: pointer;
}
.search-button .iconfont{
	font-size:24px;
}
.search-input{
	width: 100%;
	outline: none;
	border: 0;
	height: 48px;
	line-height: 48px;
}
#divselect {
	position: relative;
	width:110px;
	position: absolute;
	left: 0;
	top: 0;
	z-index:11;
}
#divselect:after{
	display: block;
	content: '　';
	background: #dddddd;
	width: 1px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
}
#divselect cite {
	width:95px;
	height:48px;
	line-height:48px;
	padding-left: 15px;
	display:block;
	color:#999999;
	cursor:pointer;
	font-style:normal;
	background:url("../images/sq.png") no-repeat 90% center;
}
#divselect ul {
	width:100%;
	background-color:#ffffff;
	position:absolute;
	z-index:11;
	margin-top:-1px;

	box-shadow: 2px 4px 5px rgba(0,0,0,.2);
	transform: translateY(15px);
	-webkit-transition: .4s all;
	-moz-transition: .4s all;
	-ms-transition: .4s all;
	visibility: hidden;
	opacity: 0;
}
#divselect ul.show{
	transform: translateY(0);
	visibility: visible;
	opacity: 1;
}
#divselect ul li {
	height:34px;
	line-height:34px;
}
#divselect ul li a {
	display:block;
	height:34px;
	color:#666;
	text-align: center;
	text-decoration:none;
	padding-left:10px;
	padding-right:10px;
}
#divselect ul li a:hover {
	background-color:#efefef;
}
.footer{
	text-align: center;
	background: #263740;
	overflow: hidden;
	background-position: center;
	background-repeat: no-repeat;
}
.foot-nav{
	text-align: center;
	padding: 30px 0;
}
.foot-nav a{
	display: inline-block;
	padding: 0 30px;
	font-size: 16px;
	color: #ffffff;
}
.wx-box{
	float: left;
}
.end-tel{
	float: right;
	color: #FFFFFF;
	text-align: center;
	padding-top: 50px;
}
.end-tel h3{
	font-size: 18px;
	margin-bottom: 20px;
}
.end-tel p{
	font-size: 14px;
}
.copyrigt{
	padding: 20px 0;
	opacity: .4;
	color: #ffffff;
	border-top: 1px solid #384a53;
}
.link-item{
	float: left;
	width: 100px;
	text-align: center;
	margin-right: 100px;
}
.link-item dt a,
.link-item dt{
	color: #78808d;
	font-size: 16px;
}
.link-item dt{
	line-height: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}
.link-item dd{
	line-height: 25px;
	font-size: 14px;
	color: #78808d;
	margin-bottom: 15px;
}
.link-item dd a{
	color: #475162;
}
.wx-box{
	padding: 10px;
	background: #2d343f;
	margin-left: 50px;
}
.wx-box img{
	width: 110px;
	height: 110px;
}
.wx-box p{
	padding: 5px 0;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 2;
}
.copyright{
	color: #474d58;
	text-align: center;
	line-height: 2;
	font-size: 12px;
}
.copyright p{
	line-height: 2;
	font-size: 12px;
	color: #474d58;
}
.topbar{
	height: 36px;
	background: #f5f5f5;
	font-size: 12px;
	color: #888888;
}
.topbar *{
	font-size: 12px;
	color: #888888;
}
.wel-box{
	float: left;
	line-height: 35px;
	color: #666666;
}
.wel-link{
	float: right;
}
.wel-link a{
	font-size: 12px;
	display: inline-block;
	margin-left: 15px;
	line-height: 35px;
}
.wel-link .login-link{
	color: #000;
	font-weight: bold;
}
.header-main{
	position: relative;
	z-index: 211;
	width: 1200px;
	margin: 0 auto;
	padding: 25px 0;
}
.logo{
	float: left;
	padding: 20px 0;
	font-size: 0;
}
.logo img{
	height: 40px;
}
.h-tel{
	position: relative;
	float: right;
	padding-left:35px;
	margin-top: 6px;
}
.navbar{
	position: relative;
	z-index: 111;
	background: #ffffff;
}
.navbar .main{
	height: 50px;
}
.nav-menu{
	position: relative;
	width: 240px;
	background: #263740;
	float: left;
}
.nav-text{
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
	margin: 0 25px;
	cursor: pointer;
}
.nav-menu-dropdown{
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top:50px;
	height: 500px;
}
.nav-menu.dropdown .nav-menu-dropdown{
	background: #071f31;
}
.nav-menu.dropdown:hover .nav-menu-dropdown{
	display: block;
}


.menu-list{
	padding: 10px 0;
}
.menu-list li a{
	position: relative;
	display: block;
	padding: 20px 60px;
	height: 25px;
	color: #333333;
	font-size: 16px;
	line-height: 25px;
	background: url("../../../show404.html") 86% center no-repeat;
}
.menu-list li a img{
	position: absolute;
	left: 25px;
	top:50%;
	margin-top: -10px;
}
.navbar .nav{
	float: left;
	height: 50px;
}
.nav {
	padding: 0 30px;
}
.nav li{
	float: left;
	padding: 0 30px;
}
.nav li a{
	position: relative;
	display: block;
	padding:10px 0;
	line-height:30px;
	font-size: 14px;
	color: #333333;
	font-weight: bold;
}
.nav li a:after{
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 0;
	background: #00ccb8;
	transition: .3s all;
	-webkit-transition: .3s all;
}
.nav li a:hover:after,
.nav li.active a:after{
	width: 100%;
}



.nav li a .iconfont{
	width: 20px;
	height: 20px;
	color: #eb0c1c;
	position: absolute;
	right: -16px;
	top: 3px;
}
.in-bg{
	background: #eef3f7;
}
.bread-box{
	color: #36464e;
	padding: 15px 0;
	line-height: 18px;
}
.bread-box a{
	color: #36464e;
}
.linkbox{
	overflow: hidden;
}
.linkbox .hd{
	float: left;
	line-height: 20px;
	margin-right: 20px;
}
.linkbox .linklist{
	overflow: hidden;
}
.linklist li{
	float: left;
	color: #888888;
}
.linklist li.line{
	padding: 0 10px;
}
.linklist li a{
	color: #888888;
}
.linklist li a:hover{
	color: #009688
}

.linkwrap{
	padding: 40px 0;
}
.tx-wrap{
	background: url("../images/txbg.jpg") center top no-repeat;
	height: 520px;
	text-align: center;
}
.tx-wrap .main{
	padding-top: 80px;
}
.tx-header{
	position: relative;
	font-size: 34px;
	line-height: 38px;
	padding-bottom: 20px;
	color: #ffffff;
	margin-bottom: 65px;
}
.tx-header:after{
	content: '　';
	display: block;
	position: absolute;
	left: 50%;
	bottom: 0;
	background: #009688;
	width: 40px;
	height: 3px;
	margin-left: -20px;
}
.tx-list{
	overflow: hidden;
}
.tx-list li{
	color: #FFF;
	width: 25%;
	float: left;
	text-align: center;
}
.tx-list h3{
	font-weight: bold;
	font-size:18px;
	padding: 15px 0;
}
.tx-list p{
	margin:0 auto;
	line-height: 1.8;
	width: 180px;
}
/*相关推荐*/
.rel-wrap{
	overflow: hidden;
	padding-top: 25px;
	padding-bottom:40px;
	background-size: cover;
}
.rel-header{
	overflow: hidden;
}
.rel-header .rel-tit{
	height: 25px;
	line-height: 25px;
	padding-left: 15px;
	color: #263740;
	border-left: 3px solid #263740;
	font-size: 23px;
	float: left;
}
.rel-header .rel-more{
	display: block;
	float: right;
	line-height: 25px;
	font-size: 16px;
	color: #263740;
}
.material-list li{
	position: relative;
	overflow: hidden;
	padding: 25px 35px;
	border-bottom: 1px dashed #e6e6e6;
}
.material-list li *{
	transition: .4s all;
}
.material-list li:last-child{
	border-bottom: 0;
}
.material-list{
	background: #ffffff;
}
.m-icon{
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 25px;
}
.m-content{
	overflow: hidden;
}
.mat-tit{
	margin-bottom: 10px;
}
.mat-tit a{
	font-weight: bold;
	font-size: 18px;
}
.mat-desc{
	margin-bottom: 10px;
	color: #888888;
	line-height: 22px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	overflow: hidden;

}
.mat-footer{
	overflow: hidden;
}
.mat-footer div{
	font-size: 14px;
	color: #999999;
	line-height: 16px;
	margin-right: 50px;
	float: left;
}
.filter-container{
	margin-bottom: 20px;
	background: #f7f9fa;
}
.filter-row{
	overflow: hidden;
	border-bottom: 1px dashed #d9d9d9;
}
.filter-row:last-child{
	border-bottom: 0;
}
.filter-row .filter-hd{
	float: left;
	background: #f7f9fa;
	padding: 20px 25px;
	width: 120px;
	text-align: right;
	line-height: 25px;
	font-size: 16px;
}
.filter-body{
	overflow: hidden;
}
.filter-list{
	background-color:#ffffff;
	overflow: hidden;
}
.filter-list li{
	float: left;
	padding: 15px 10px;
}
.filter-list li a{
	display: block;
	padding: 0 10px;
	height: 24px;
	line-height: 24px;
	border-radius: 3px;
	color: #666666;
}
.filter-list li.active a{
	background: #263740;
	color: #FFF;
}
.list-header-bar{
	overflow: hidden;
	padding-bottom:20px;
}
.orders-lt{
	padding-left: 1px;
	float: left;
}
.orders-page{
	float: right;
}
.orders-lt li{
	border: 1px solid #cccccc;
	width: 100px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	float: left;
	margin-left: -1px;
}
.orders-lt li:first-child{
	border-bottom-left-radius:4px;
	border-top-left-radius: 4px;
}
.orders-lt li:last-child{
	border-bottom-right-radius:4px;
	border-top-right-radius: 4px;
}
.orders-lt li a{
	display: block;
	position: relative;
}
.orders-lt li a.fSort-arrow{
	padding-right: 16px;
}
.orders-lt li a .iconfont{
	font-size: 12px;
	color: #888888;
}
.orders-lt li.active{
	background: #263740;
}
.orders-lt li.active a{
	color: #fff;
}
.orders-lt li.active a .iconfont{
	color: #fff;
}
.orders-page a{
	display: inline-block;
	border: 1px solid #cccccc;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	color: #666666;
	font-size: 16px;
	border-radius: 3px;
}

.orders-page a.cur{
	border: 1px solid #009688;
}
i.f-ico-triangle-mb,
i.f-ico-triangle-mt {
	position: absolute;
	top: 6px;
    right: 25px;
    width: 7px;
    height: 10px;
    line-height: 10px;
    border: 4px solid transparent;
    height: 0;
    width: 0;
}
i.f-ico-triangle-mt {
    border-bottom: 4px solid #806F66;
    top: 12px;
}
i.f-ico-triangle-mb {
    border-top: 4px solid #806F66;
    border-width: 3px\9;
    right: 6px\9;
    top: 22px;
}
.orders-lt li.active a i.f-ico-triangle-mt{
	border-bottom: 4px solid #ccc;
}
.orders-lt li.active a i.f-ico-triangle-mb{
	border-top: 4px solid #ccc;
}
i.f-ico-triangle-mt.cur{
	border-bottom: 4px solid #fff!important;
}
i.f-ico-triangle-mb.cur{
	border-top: 4px solid #fff!important;
}



.list-main{
	background: #ffffff;
}
.list-main .hd{
	overflow: hidden;
	border-bottom: 1px solid #EEEEEE;
	padding: 0 20px;
}
.list-main .hd li{
	position: relative;
	float: left;
	color: #888888;
	font-size: 16px;
	line-height: 50px;
	padding: 0 10px;
	cursor: pointer;
	margin-right: 20px;
}
.list-main .hd li.on{
	font-weight: bold;
	color: #009688;
}
.list-main .hd li.on:after{
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: #009688;
	height: 2px;
	content: '　';
}
.list-page{
	padding: 30px 0 50px 0;
	text-align: center;
}
.list-page  a,
.list-page  input,
.list-page  span{
	display: inline-block;
	vertical-align: middle;
}
.list-page  a {
	border: 1px solid #dddddd;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	border-radius: 4px;
	color: #666666;
}
.list-page a.cur{
	border: 1px solid #263740;
	background: #263740;
	color: #ffffff;
}
.list-page input{
	border: 1px solid #dddddd;
	width: 30px;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	border-radius: 4px;
	color: #666666;
}
.list-page .btn-jump{
	border: 1px solid #263740;
	background: #263740;
	color: #ffffff;
}
.listwrap{
	padding-bottom: 50px;
}
.infocate-list{
	overflow: hidden;
	margin: 0 -20px;
}
.infocate-list li{
	padding: 20px;
	float: left;
}
.infocate-box{
	position: relative;
	border: 1px solid #e6e6e6;
	width: 268px;
	height: 420px;
	background: #f7f9fa;
	transition: .5s all;
}
.infocate-box:hover{
	background: #ffffff;
	border: 1px solid #00bdbd;
	box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.info-inner{
	padding: 15px;
}
.i-logo{
	text-align: center;
	padding: 30px 0;
	height: 80px;
}
.i-title{
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	margin-bottom: 20px;
	height:60px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.i-title a{
	font-weight: bold;
	font-size: 20px;
}
.i-desc{
	line-height: 1.8;
	color: #888888;
	height: 70px;
	padding: 10px 0 0 0;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}
.i-footer{
	padding: 15px;
	color: #999999;
	border-top: 1px dashed #e6e6e6;
}
.i-raty{
	line-height: 20px;
}
.i-raty strong{
	font-size: 15px;
}
.i-raty .iconfont{
	color: #f2c830;
}
.i-raty *{
	display: inline-block;
	vertical-align: middle;
}
.raty-span{
	color: #f21818;
	font-size: 16px;
	margin-left: 10px;
}

.text-info{
	color: #00b4d2;
}
.i-meta{
	overflow: hidden;
	margin-bottom: 10px;
}
.i-umber{
	float: left;
	line-height: 20px;
}
.i-price{
	float: right;
	line-height: 20px;
}
.i-nickname{
	float: left;
	color: orangered;
	margin-top: -20px;
	line-height: 20px;
	font-size: x-large;
}
.i-price .pbox{
	color: #f21818;
	font-size: 16px;
}

.inner-cells{
	background: #FFFFFF;
	margin-bottom: 20px;
}
.inner-content{
	padding: 30px 30px 0 30px;
	width: 790px;
	min-height: 300px;
	border-right: 1px dashed #e5e5e5;
	float: left;
}
.inner-barbox{
	width: 310px;
	float: right;
	padding-left: 30px;
	padding-top: 70px;
}
.barinfo-list li span{
	display: inline-block;
	vertical-align: middle;
	line-height: 20px;
}
.barinfo-list li{
	line-height: 20px;
	margin-bottom: 20px;
}
.barinfo-list .text{
	color: #999999;
	width: 90px;
}
.barinfo-list .cont{
	color: #333333;
	font-size: 15px;
}
.barinfo-list  .iconfont{
	color: #f2c830;
	font-size: 14px;
}
.sm-icon img{
	width: 70px;
}
.sm-icon{
	float: left;
	margin-right: 30px;
}
.inner-cell-body{
	overflow: hidden;
}
.info-title{
	font-size: 24px;
	line-height: 30px;
	padding: 0 10px;
	padding-bottom: 15px;
	font-weight: bold;
	border-bottom: 1px solid #EEEEEE;
	margin-bottom: 15px;
}
.info-desc{
	color: #888888;
	padding: 0 10px;
	line-height: 25px;
	height: 75px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}
.info-footer{
	overflow: hidden;
	height: 60px;
	background: #f2fbfc;
}
.info-footer .hd{
	float: left;
	width: 210px;
	padding: 20px 0;
	line-height: 20px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}
.bz-list{
	overflow: hidden;
	padding: 10px 0;
}
.bz-list li{
	float: left;
	height: 40px;
	line-height: 40px;
	color: #263740;
	font-size: 16px;
	padding-left: 60px;
	background-repeat: no-repeat;
	background-position: left center;
	margin-right: 80px;
}
.bz-list li.bz-item1{
	background-image: url("../images/i1.png");
}
.bz-list li.bz-item2{
	background-image: url("../images/i2.png");
}
.bz-list li.bz-item3{
	background-image: url("../images/i3.png");
}
.bz-list li.bz-item4{
	background-image: url("../images/i4.png");
}

.info-btm-list{
	overflow: hidden;
	border-top: 1px dashed #EEEEEE;
	padding:15px 5px;
	overflow: hidden;
}
.info-btm-list li{
	padding: 10px 0;
	color: #999999;
	height: 30px;
	line-height: 30px;
	float: left;
	width: 26%;
}
.info-btm-list .lg-txt{
	font-size: 20px;
	color: #f21818;
}
.info-action-bar{
	overflow: hidden;
	margin-top: 20px;
	padding: 20px 10px;
}
.info-action-bar .i-raty{
	float: left;
}
.info-action-bar .info-menu{
	float: right;
	height:20px;
}
.info-menu li{
	float: left;
	margin-left: 20px;
}
.info-menu li a{
	color: #999999;
}
.info-menu li a .iconfont{
	color: #01bac2;
}
.info-menu li a .iconfont{
	color: #01bac2;
}
.info-menu li a .icon-jinggao{
	color: #f21818;
}
.info-menu li .lk-warning{
	color: #f21818;
}
.lk-shoucang.active .icon-shoucang:before{
	content: '\e634'
}


.inner-tab{
	float: left;
	width: 850px;
	min-height: 400px;
	background: #FFFFFF;
}
.inner-tab .hd{
	padding-bottom: 20px;
}
.inner-tab .hd ul{
	height: 51px;
	border-bottom: 1px solid #009688;
}
.inner-tab .hd ul li{
	width: 120px;
	height: 52px;
	float:left;
	text-align: center;
	line-height: 52px;
	color: #888888;
	cursor: pointer;
	font-size: 15px;
	position: relative;
}
.inner-tab .hd ul li:after{
	display: block;
	content: '　';
	width: 1px;
	height: 20px;
	background: #eeeeee;
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -10px;
}
.inner-tab .hd ul li.on{
	color: #263740;
	font-weight: bold;
	background: url("../images/up.png") center bottom no-repeat;
}
.inner-tab .hd ul li.on:before{
	border: 1px solid #009688;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	content: '　';
	z-index: 1;
}
.inner-relbar{
	float: right;
	width: 330px;
	background: #ffffff;
	min-height: 400px;
}
.relbar-hd{
	position: relative;
	border-bottom: 1px solid #eeeeee;
	height: 51px;
	line-height: 50px;
	font-size: 24px;
	padding-left:40px;
	color: #263740;
}
.relbar-hd:before{
	position: absolute;
	left:20px;
	top: 50%;
	width: 4px;
	height: 20px;
	background: #263740;
	display: block;
	margin-top: -10px;
	content: '　';
	z-index: 1;
}
.rel-sm-list li{
	overflow: hidden;
	padding:25px 20px;
	border-bottom: 1px dashed #EEEEEE;
}
.rel-sm-list .rel-icon{
	width: 50px;
	margin-right: 20px;
	float: left;
}
.rel-sm-cont{
	overflow: hidden;
}
.rel-tit{
	margin-bottom: 10px;
	line-height: 25px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.rel-tit a{
	font-size: 16px;
	font-weight: bold;
}
.rel-foot{
	overflow: hidden;
	color: #888888;
}
.inner-main{
	padding-bottom: 20px;
}
.inner-search-container{
	padding: 100px 130px;
}
.inner-search{
	position: relative;
}
.inner-search .inner-input{
border:1px solid #dddddd;
	height: 50px;
	padding: 0 15px;
	width: 100%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.btn-clear{
	display: block;
	position: absolute;
	right: 10px;
	width: 30px;
	height: 50px;
	line-height: 50px;
	top: 0;
	text-align: center;
	color: #888888;
}
.btn-clear.none{
	display: none;
}
.btn-clear .iconfont{
	color: #cccccc;
	font-size: 20px;
}
.group-button{
	margin-top: 40px;
	text-align: center;
}
.group-button .btn{
	display: inline-block;
	width: 160px;
	height: 50px;
	text-align: center;
	font-size: 16px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	margin: 0 10px;
}
.group-button .btn-reset{
	background: transparent;
	border:1px solid #000;
}
.group-button .btn-search{
	color: #ffffff;
	background: -webkit-linear-gradient(left, #06b9b5 , #28dfc4); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right,  #06b9b5 , #28dfc4); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right,  #06b9b5 , #28dfc4); /* Firefox 3.6 - 15 */
	background: linear-gradient(to right,  #06b9b5 , #28dfc4); /* 标准的语法 */

}
.inner-space-bd{
	padding: 30px;
}
.inner-table{
	width: 100%;
	border: 1px solid #e5e5e5;
}
.inner-table td{
	padding: 10px;
	padding-left: 60px;
	line-height: 30px;
	font-size: 15px;
	color: #263740;
}
.inner-table td.tit{
	color: #999999;
	width:100px;
	border-right: 1px solid #e5e5e5;
}
.inner-table tr:nth-child(odd){
	background-color: #eef3f7;
}
.box-details{
/*	height: 384px;
	padding-left: 125px;
	padding-top: 90px;
	background: url("../images/boxbg.jpg") no-repeat center;
	background-size: contain;
	background-size: contain;*/
}
.box-details p{
	color: #666666;
	font-size: 15px;
	margin-bottom: 20px;
}
.inner-comment{
	padding:5px 15px;
}
.inner-comment li{
	padding:25px 10px;
	border-bottom: 1px dashed #EEEEEE;
}
.inner-comment li:last-child{
	margin-bottom: 0;
}
.comment-body{
	color: #888888;
	line-height: 25px;
	margin-bottom: 10px;
}
.comment-header{
	overflow: hidden;
	margin-bottom: 10px;
}
.c-user-id{
	float: left;
	line-height: 25px;
	margin-right: 80px;
}
.c-raty{
	float: left;
	line-height: 25px;
	margin-right: 80px;
}
.c-date{
	float: left;
	line-height: 25px;
}
.comment-header strong{
	font-size: 15px;
}
.c-raty .iconfont{
	color: #f2c830;
	font-size: 14px;
}
.comment-replay .comment-body{
	margin-bottom: 0;
}
.comment-replay{
	padding: 15px;
	background: #f8f8f8;
}
.replay-hd{
	color: #009688;
	margin-bottom: 10px;
}
.result-list{
	padding: 15px;
}
.result-list li{
	position: relative;
	padding:22px 15px;
	border-bottom: 1px dashed #EEEEEE;
}
.result-list li:last-child{
	border-bottom: 0;
}
.resbox .res-title{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 16px;
	line-height: 25px;
}
.resbox .res-title a{
	font-size: 18px;
	font-weight: bold;
}
.res-item{
	line-height: 20px;
	margin-bottom: 15px;
}
.res-item:last-child{
	margin-bottom: 0;
}
.res-item .txt{
	color: #999999;
}
.res-item .res-price{
	color: #f21818;
	font-style: normal;
	font-size: 16px;
}
.res-search{
	padding: 30px;
	overflow: hidden;
}
.res-search .inner-search{
	float: left;
	width: 600px;
}
.res-search .btn-search{
	float: right;
	display: block;
	width: 160px;
	height: 50px;
	text-align: center;
	font-size: 16px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	background: #263740;
	font-size: 18px;
	color: #FFFFFF
}
.res-search .btn-search .iconfont{
	font-size: 20px;
}
.result-list li .resbutton{
	position: absolute;
	right: 15px;
	top: 15px;
	display: block;
	width: 120px;
	height: 40x;
	line-height: 40px;
	border-radius: 40px;
	text-align: center;
	font-size: 16px;
	color: #ffffff;
	background: -webkit-linear-gradient(left, #06b9b5 , #28dfc4); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right,  #06b9b5 , #28dfc4); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right,  #06b9b5 , #28dfc4); /* Firefox 3.6 - 15 */
	background: linear-gradient(to right,  #06b9b5 , #28dfc4); /* 标准的语法 */
}
.i-size{
	float: left;
	line-height: 20px;
	margin-left:60px;
}
.info-btm-box{
	position: relative;
}
.info-btm-box .btn-file{
	position: absolute;
	right: 15px;
	bottom: 25px;
	display: block;
	width: 140px;
	height: 40x;
	line-height: 40px;
	border-radius: 6px;
	text-align: center;
	font-size: 16px;
	color: #ffffff;
	background: -webkit-linear-gradient(left, #06b9b5 , #28dfc4); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right,  #06b9b5 , #28dfc4); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right,  #06b9b5 , #28dfc4); /* Firefox 3.6 - 15 */
	background: linear-gradient(to right,  #06b9b5 , #28dfc4); /* 标准的语法 */
}

/*index*/
.index-section{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 100px;
}
.bg-section{
	background: #eef3f7;
}
.box-header{
	position: relative;
	font-size: 34px;
	line-height: 38px;
	padding-bottom: 20px;
	color: #444;
	text-align: center;
	margin-bottom: 35px;
}
.box-header:after{
	content: '　';
	display: block;
	position: absolute;
	left: 50%;
	bottom: 0;
	background: #009688;
	width: 40px;
	height: 3px;
	margin-left: -20px;
}
.reason-list ul{
	margin: 0 -22px
}
.reason-list ul li{
	float: left;
	padding: 0 22px;
}
.rs-box{
	width: 310px;
	padding: 0 30px;
	padding-top: 60px;
	height: 280px;
	border-radius: 5px;
	background: #fff;
	text-align: center;
}
.rs-box h3{
	line-height: 1.2;
	padding-top: 25px;
	padding-bottom: 20px;
	font-weight: bold;
	font-size: 20px;
}
.rs-box p{
	text-align: left;
	text-indent: 24px;
	color: #999;
	line-height: 1.3
}
.hezuo-list{
	overflow: hidden;
}
.hezuo-list li{
	float: left;
	width: 20%;
	padding: 20px 0;
	position: relative;
	margin-top: -1px;
	border-top: 1px dashed #e5e5e5;
}
.hezuo-list li:before{
	width: 1px;
	border-left: 1px dashed #e5e5e5;
	margin-left: -1px;
	height: 100%;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	content: '　';

}
.hz-pic{
	overflow: hidden;
	width: 200px;
	height: 80px;
	padding: 35px 0;
	text-align: center;
	margin: 0 auto;
	transition: .5s all;
	border-radius: 5px;
}
.hz-pic img{
	 -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
	width: 200px;
	height: 80px;
}
.hz-pic:hover{
	box-shadow: 0 0 20px rgba(0,0,0,.1)
}
.hz-pic:hover img{
	 -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: gray;
}
.xz-section{
	background: url("../images/selectbg.jpg") no-repeat center;
}
.e-box{
	position: relative;
	width: 560px;
	height: 420px;
	border-radius: 6px;
	background: #fff;
}
.e-inner{
	padding: 60px;
}
.e-inner p{
	margin-bottom: 30px;
	color: #999;
	font-size: 16px;
	line-height: 1.6
}
.e-inner .e-link{
	display: block;
	width: 120px;
	height: 40px;
	border-radius: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	background: -webkit-linear-gradient(left, #06b9b5 , #28dfc4); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right,  #06b9b5 , #28dfc4); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right,  #06b9b5 , #28dfc4); /* Firefox 3.6 - 15 */
	background: linear-gradient(to right,  #06b9b5 , #28dfc4); /* 标准的语法 */
}
.e-pic{
	position: absolute;
	right: 0;
	bottom: -20px;
}
.list-footer{
	text-align: center;
	margin-top: 40px;
}
.list-footer .list-more{
	display: inline-block;
	text-align: center;
	width: 120px;
	height: 36px;
	line-height: 36px;
	border-radius: 35px;
	border:1px solid #bbbbbb;
	color: #bbbbbb;
}
.list-footer .list-more:hover{
	color: #009688;
	border:1px solid #009688;
}
.material-list li.list-end{
	background: #eef3f7;
	text-align: center;
	margin-top: -1px;
}
.material-list li.list-end a{
	display: inline-block;
	text-align: center;
	width: 120px;
	height: 36px;
	line-height: 36px;
	border-radius: 35px;
	border:1px solid #bbbbbb;
	color: #bbbbbb;
}
.material-list li.list-end a:hover{
	color: #009688;
	border:1px solid #009688;
}


.fullSlide {
	width: 100%;
	min-width:1200px;
	position:relative;
	height:500px;
	overflow:hidden;
}
.fullSlide .bd {
	position:relative;
	z-index:0;
}
.fullSlide .bd ul {
	height: 500px;
}
.fullSlide .bd li {
	width: 100%;
	float: left;
	height:500px;
	background-repeat: no-repeat;
	background-position: center;
}
.fullSlide .bd li .siteWidth {
	width:1000px;
	position:relative;
	margin:0 auto;
	height:500px;
	float: left;
}
.fullSlide .bd li a {
	position:absolute;
	width:100%;
	height:500px;
	display:block;
	z-index:1;
}
.fullSlide .bd .txt {
	position:absolute;
	width:415px;
	top:100px;
	left:22px;
	font:normal 18px/30px "Microsoft YaHei";
}
.fullSlide .hd {
	width:100%;
	position:absolute;
	z-index:1;
	bottom:10px;
	left:0;
	height:30px;
	line-height:30px;
	text-align:center;
}
.fullSlide .hd ul li {
	cursor:pointer;
	display:inline-block;
	*display:inline;
	zoom:1;
	width:11px;
	height:11px;
	margin:0 10px;
	overflow:hidden;
	line-height:9999px;
	border-radius: 11px;
	border:1px solid #ffffff;
}
.fullSlide .hd ul .on {
	opacity:1;
	background: #fff;
}
.swiper-index{
	height: 500px
}
.swiper-index .swiper-slide{
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	height: 500px;
}
.swiper-index .swiper-pagination-bullet{
	background: transparent;
	width: 12px;
	height: 12px;
	border:1px solid #fff;
	opacity: 1;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
	bottom: 20px;
}
.swiper-index .swiper-pagination-bullet-active{
	background: #fff;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
	margin: 0 10px;
}

/*导航下拉*/
.menu-slide-box{
	display: none;
}
.menu-item{
	height: 200px;
	position: relative;
	z-index: 11;
	padding: 25px 20px;
	overflow: hidden;
	border-bottom: 1px solid #394f5d;
}
.menu-inner{
	position: relative;
	z-index: 11;
	height: 500px;
	background: #071f31;
}
.menu-item:nth-child(2){
	border-bottom: 0
}
.menu-item dt{
	color: #fff;
	line-height: 25px;
	margin-bottom: 10px;
}
.menu-item dd{
}
.menu-in-list{
	overflow: hidden;
	margin: 0 -3px;
}
.menu-in-list li{
	float: left;
	line-height: 20px;
	padding: 4px 0;
}
.menu-col-4 li{
	width: 25%;
}
.menu-col-3 li{
	width: 33.33%;
}
.menu-in-list li a{
	color: #a5a9ad;
	font-size: 13px;
}
.menu-in-list li a:hover{
	color: #00f3cb;
}
.menu-slide{
	position: absolute;
	left:0;
	top: 0;
	border:1px solid #01253f;
	background: #fff;
	width: 350px;
	height: 500px;
	box-sizing: border-box;
	padding: 0 10px;
	visibility: hidden;
	opacity: 0;
	transition: .4s all;
	-ms-transition: .4s all;
}
.nav-slide-show .menu-slide{
	visibility: visible;
	opacity: 1;
	left: 100%;
}
.menu-slide-item{
	overflow: hidden;
	padding:15px;
	border-bottom: 1px dashed #dedede;
}
.menu-slide-item li{
	float: left;
	padding: 4px 10px;
}
.menu-slide-item li a{
	color: #999999;
}
.menu-slide-item li a:hover{
	color: #00f3cb;
}
.list-footer .list-more:hover{
	color: #009688;
	border:1px solid #009688;
}
.search-key li a:hover{
	color: #009688;
}
.tips-button{
	width: 390px;
	margin: 0 auto;
	overflow: hidden;
}
.tips-button .btn{
	width: 140px;
	height: 44px;
	line-height: 44px;
	font-size: 16px;
	border-radius: 44px;
	text-align: center;
	display: block;
	color: #fff;
}
.tips-button .btn-back{
	float: left;
	background: -webkit-linear-gradient(left, #07bab5 , #28dfc4); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #07bab5 , #28dfc4); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, #07bab5 , #28dfc4); /* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #07bab5 , #28dfc4); /* 标准的语法 */
}
.tips-button .btn-gray{
	float: right;
	background: #e3e3e3;
	color: #999;
}
.box-tips{
	padding: 80px 0;
	text-align: center;
}
.tips-cont{
	padding:50px 0;
	font-size: 18px;
}

/*弹窗信息*/
.pay-info-list{
	padding: 30px 22% 0 25%;
}
.pay-info-list li{
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
}
.pay-info-list li:last-child{
	margin-bottom: 0;
}

.p-hd{
	float: left;
	line-height: 30px;
	font-size: 16px;
	color: #263740;
	width: 120px;
	text-align: right;
	margin-right: 20px;
}
.p-cont{
	overflow: hidden;
	font-size: 15px;
	color: #666666;
	line-height: 30px;
}
.text-red{
	color: #f2181a;
}
.p-cont .text-red{
	font-size: 20px;
}
.comment-info-list{
	padding-top: 20px;
	padding-right: 30px;
}
.comment-info-list li{
	margin-bottom: 20px;
}
.comment-info-list:last-child{
	margin-bottom: 0
}
.comment-info-list .icon-star{
	color: #f2c830;
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
}
.p-textarea{
	border:1px solid #dddddd;
	padding:10px;
	box-sizing: border-box;
	width: 100%;
	border-radius: 5px;
	resize: none;
	outline: none;
	height: 100px;
}
.p-name{
	color: #009688;
}
.modal-share .modal-body{
	padding: 30px 100px;
}
.m-share-list{
	overflow: hidden;
	margin: 0 -50px
}
.m-share-list li{
	width: 33.33%;
	float: left;
	padding:15px 0;
	text-align: center;
}
.m-link-item{
	display: block;
}
.m-link-item p{
	font-size: 14px;
}
.m-link-item .iconfont{
	font-size: 62px;
}
.share-tips{
	padding:10px;
	text-align: center;
	border-radius: 5px;
	background: #fbfafa;
	margin-top: 30px;
}
.share-tips p{
	color: #666666;
	line-height: 1.8;
}
.share-tips p.end{
	color: #009688;
	margin-top: 20px;
}
.m-link-item .icon-weixin{
	color: #3db134
}
.m-link-item .icon-qq{
	color: #27b5f7
}
.m-link-item .icon-renrenwang{
	color: #1362a7
}
.m-link-item .icon-weibo{
	color: #ef2b37
}
.m-link-item .icon-qzone{
	color: #f4cd17
}
.m-link-item .icon-icon-copy{
	color: #3195c8
}
.modal-share .modal-content{
	padding-bottom: 100px;
	background:#fff url("../images/ppbg.png") center bottom no-repeat;
}
.p-cont .tips{
	display: inline-block;
	margin-left: 20px;
	color: #ff8d00;
}


.ui-uploader__bd{
  margin-bottom:-4px;
  margin-right:-9px;
  overflow:hidden;
}
.ui-uploader__files{
  list-style:none;
}
.ui-uploader__file{
	position: relative;
  float:left;
  margin-right:9px;
  margin-bottom:9px;
  width:79px;
  height:79px;
  background:no-repeat center center;
  background-size:cover;
}
.ui-uploader__file_status{
  position:relative;
}
.ui-uploader__file_status:before{
  content:" ";
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color:rgba(0, 0, 0, 0.5);
}
.ui-uploader__file_status .ui-uploader__file-content{
  display:block;
}
.ui-uploader__file-content{
  display:none;
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%, -50%);
          transform:translate(-50%, -50%);
  color:#FFFFFF;
}
.ui-uploader__file-content .weui-icon-warn{
  display:inline-block;
}
.ui-uploader__input-box{
  float:left;
  position:relative;
  margin-right:9px;
  margin-bottom:9px;
  width:77px;
  height:77px;
  background: #f5f5f5;
  border:1px dashed #D9D9D9;
}
.ui-uploader__input-box:before,
.ui-uploader__input-box:after{
  content:" ";
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%, -50%);
          transform:translate(-50%, -50%);
  background-color:#D9D9D9;
}
.ui-uploader__input-box:before{
  width:2px;
  height:39.5px;
}
.ui-uploader__input-box:after{
  width:39.5px;
  height:2px;
}
.ui-uploader__input-box:active{
  border-color:#999999;
}
.ui-uploader__input-box:active:before,
.ui-uploader__input-box:active:after{
  background-color:#999999;
}
.ui-uploader__input{
  position:absolute;
  z-index:1;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

/*加盟页面*/
.jm-section{
	background-repeat: no-repeat;
	background-position: center;
	height: 440px;
	position: relative;
}
.jm-section .main{
	position: relative;
	height: 100%;
}
.jm-text{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
.jm-text.jm-text-left{
	left: 170px;
}
.jm-text.jm-text-right{
	right: 170px;
}
.target-demo{
	display: inline-block;
	vertical-align: middle;
}
#demoraty{
	color: #ff0000;
	display: inline-block;
	vertical-align: middle;
}
.p-select{
	border-radius: 3px;
	width: 160px;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	border:1px solid #e5e5e5;
}
.smline{
	width: 60px;
	height: 5px;
	background: #ffffff;
}
.jm-text{
	color: #fff;
	font-family: 黑体;
	font-size: 34px;
	padding: 10px 0;
}
.jm-text p{
	font-family: 黑体;
	font-size: 34px;
	margin-bottom: 30px;
}
.text-blue{
	text-shadow: 3px 5px 10px rgba(0,0,0,.3);
	color: #00a2ff;
}
.jm-text .lg{
	font-size: 50px;
	text-transform: uppercase;
}
.jm-text .sm{
	font-size: 30px;
}
.dotbg{
	padding: 20px 0;
	background: url("../images/dotbg.png") 0 0px no-repeat;
}
.jm-text-center{
	width: 100%;
	text-align: center;
}
.jm-lg-dou{
	background: url("../images/dou.png") no-repeat;
	width: 623px;
	height: 130px;
	padding-left: 100px;
}
.text-right{
	text-align: right;
}
.dot-left{
	background: url("../images/dot-left.png") 400px -5px no-repeat;
}
.p-tips{
	position: absolute;
	right: 0;
	top: 145px;
	color: #999999;
	overflow: hidden;
}
.p-tips a{
	margin-top: 6px;
}
.p-tips a,
.p-tips span{
	display: block;
	float: left;
	margin-right: 20px;
}
body .link{
	color: #009688;
	text-decoration: underline;
}
.pay-tips{
	text-align: center;
	font-size: 16px;
	color: #666;
	margin-bottom: 20px;
}
.modal-pay{
	margin-top: 20px;
	padding-bottom: 20px;
	min-height: 300px;
}
.pay-tabs{
	text-align: center;
	font-size: 0;
	border:1px solid #ccc;
	border-radius: 5px;
	width:317px;
	margin: 0 auto;
	margin-bottom: 20px;
	overflow: hidden;
}
.pay-tabs li{
	display: inline-block;
	width: 105px;
	height: 42px;
	line-height: 42px;
	border-right: 1px solid #cccccc;
	text-align: center;
	color: #999;
	font-size: 16px;
	cursor: pointer;
}
.pay-tabs li.active{
	background: #263740;
	color: #fff;
}
.pay-tabs li:last-child{
	border-right: 0;
}
.wxpay-box{
	text-align: center;
}
.wxpay-box img{
	padding: 15px;
	border:2px solid #263740;
}
.pp-select-row{
	padding:20px 10px;
}
.pp-select-row li{
	padding: 10px 0;
	overflow: hidden;
}
.pp-select-row .p-hd{
	width:200px;
	text-align: left;
	font-weight: normal;
	color: #333333;
	line-height: 42px;
	font-weight: bold
}
.text-green{
	color: #009688;
}
@media(max-width:1000px){
	.pp-select-row .btn-item{
		display: inline-block;
			width: 67px;
			height: 44px;
			line-height: 23px;
			font-size: 10px;
			border-radius: 44px;
			text-align: center;
		border: 1px solid #cccccc;
		color: #999999;
		margin-right: 30px;
	}
	.pp-select-row .btn-item.active{
			color: #fff;
			border: 1px solid #fff;
		background: -webkit-linear-gradient(left, #07bab5 , #28dfc4);
			background: -o-linear-gradient(right, #07bab5 , #28dfc4);
			background: -moz-linear-gradient(right, #07bab5 , #28dfc4);
			background: linear-gradient(to right, #07bab5 , #28dfc4);
	}
}

@media(min-width:1000px){
	.pp-select-row .btn-item{
		display: inline-block;
	    width: 140px;
	    height: 44px;
	    line-height: 44px;
	    font-size: 15px;
	    border-radius: 44px;
	    text-align: center;
		border: 1px solid #cccccc;
		color: #999999;
		margin-right: 30px;
	}
	.pp-select-row .btn-item.active{
	    color: #fff;
	    border: 1px solid #fff;
		background: -webkit-linear-gradient(left, #07bab5 , #28dfc4);
	    background: -o-linear-gradient(right, #07bab5 , #28dfc4);
	    background: -moz-linear-gradient(right, #07bab5 , #28dfc4);
	    background: linear-gradient(to right, #07bab5 , #28dfc4);
	}
}


.btn-label{
	padding: 10px 0;
}
.btn-label span,
.btn-label input{
	display: inline-block;
	vertical-align: middle;
	color: #999
}
.modal-topline-footer{
	border-top: 1px solid #eee
}
.modal-footer .btn{
	margin: 0 10px;
}
.modal-footer .btn-solid{
	border: 1px solid #263740;
	color: #263740;
	border-radius: 4px;
}
.modal-footer .btn-normal{
	background: #263740;
	color: #fff;
	border-radius: 4px;
}
.rel-footer{
	text-align: center;
	margin-top: 40px;
}
.rel-footer a.rel-more{
	border-radius: 30px;
	display: inline-block;
	border: 1px solid #263740;
	height: 50px;
	line-height: 50px;
	width: 200px;
	font-size: 20px;
	color: #263740;
}
.rel-bg-wrap{
	background: #eef3f7;
}
.rel-top{
	height: 54px;
}
.rel-tab{
	float: left;
	height: 54px;
}
.rel-tab li{
	width: 186px;
	height: 50px;
	line-height: 50px;
	cursor: pointer;
	color: #999999;
	float: left;
	text-align: center;
	font-size: 16px;
	border: 1px solid #cccccc;
}
.rel-tab li.active{
	background: #263740;
	color: #fff;
	border: 1px solid #263740;
}
.rel-tab li:first-child{
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.rel-tab li:last-child{
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.rel-grids{
	background: url('../images/svbg.jpg') center top no-repeat;
	height: 316px;
	margin-bottom: 30px;
}
.rel-grid-lt{
	float: left;
	padding-top: 40px;
	padding-left: 70px;
}
.sv-item-list li{
	font-size: 16px;
	color: #fff;
	margin-bottom: 25px;
}
.sv-item-list li a{
	color: #fff;
}
.card-rt{
	overflow: hidden;
	padding-top: 20px;
}
.card-rt .circle-data{
	width: 33.33%;
	float: left;
	text-align: center;
	color: #fff;
	padding: 10px 0;
}
.card-rt .circle-data .c-txt{
	margin-top: 5px;
}
.sv-item-list .item-cont{
	color: #00feec;
}
.collect-top-info{
	margin-bottom: 20px;
}
.collect-top-info span{
	display: inline-block;
	margin-right: 30px;
	font-size: 18px;
}
.col-page-box a,
.col-page-box span{
	display: inline-block;
	color: #263740;
	margin-right: 40px;
	font-size: 18px;
}
.col-page-box a{
	color: #999
}
.col-page-box a:hover{
	color: #263740
}

.info-page{
	position: absolute;
	right: 15px;
	top: 15px;
}
.info-page a{
	display: inline-block;
	line-height: 20px;
	color: #999;
	margin-bottom: 5px;
}
.info-page a:hover{
	color: #263740
}
.infocate-box .info-page a{
	display: block;
}
.material-list .info-page a{
	margin-right: 10px;
}

.file-close{
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer
}
.rel-topbar{
	padding-top: 30px;
}
.rel-tcells{
	padding-top: 40px;
}
